@font-face {
    font-family: Minecraft;
    src: url(assets/minecraft.otf);
}

body {
    background-color: #333;
    font-family: Minecraft;
    text-shadow: #0000007f .1em .1em;
    text-underline-offset: .15em;
    color: #fff;
    background-image: url('assets/img/bg.png');
    background-repeat: repeat;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
}

h1 {
    margin-bottom: 0.3em;
}

h1, h2, h3 {
    font-weight: normal;
}

a {
    color: #fff;
}

a:visited {
    color: #fff;
}


.page {
    display: none;
}

.page.active {
    display: block;
}


.listElement {
    border-radius: 10px;
    margin: 5px auto;
    width: 90%;
    padding: 10px;
    min-height: 64px;
}

.listElement.itemCard {
    width: max-content;
    min-width: 24em;
    max-width: 100%;
    display: inline-table;
}

.listElement .label {
    display: inline-block;
    width: max-content;
}


.listElement.renewable {
    background-color: #2b2;
}

.listElement.notRenewable {
    background-color: #d22;
}


.listElementNumber {
    position: absolute;
    left: -1.2em;
    top: 0.3em;
    font-size: 15pt;
}

.itemCount {
    position: absolute;
    right: -0.25em;
    bottom: -0.5em;
}



.id {
    color: #999;
    font-style: oblique;
}

.name {
    color: #fff;
}

.headername {
    color: #fff;
    font-weight: bold;
    font-size: 20pt;
}

.description {
    color: #999;
}

.icon {
    width: 64px;
    height: 64px;
    float: left;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    background-size: 64px 64px;
    margin: 0 10px 0 20px;
    font-size: 20pt;
    position: relative;
}


.renewableText {
    color: #0f0;
}

.notRenewableText {
    color: #f00;
}


.mcWidget {
    text-shadow: none;
    border: 6px solid;
    border-color: #ffffff #555555 #555555 #ffffff;
    border-radius: 2px;
    padding: 2px;
    background-color: #c6c6c6;
    color: #404040;
}

.mcWidgetSlot {
    text-shadow: #0000007f .1em .1em;
    border: 2px solid;
    border-color: #373737 #ffffff #ffffff #373737;
    border-radius: 0;
    background-color: #8b8b8b;
    color: #fff;
}

.mcWidgetSlot:hover {
    background-color: #c5c5c5;
}


.clickable {
    cursor: pointer;
    user-select: none;
}


#loadingText {
    width: min-content;
    margin: 1em auto;
}


#header {
    margin: 10px auto;
    width: 100%;
    text-align: center;
}

#header .renewableText {
    margin: 0;
    font-size: 16pt;
    font-weight: initial;
}

#mainContainer {
    position: relative;

    width: 90%;
    margin: 0 auto;
    border-radius: 10px;
    padding-bottom: 10px;
}

#mainPage #itemList {
    display: flex;
    flex-wrap: wrap;
}

#footer {
    margin: 10px auto;
    width: 100%;
    text-align: center;
}

#topPart {
    min-height: 80px;
    background-color: #777;
    margin: 10px;
    border-radius: 20px;
    position: sticky;
    top: 0;
    padding: 20px;
    z-index: 100;
}

#content {
    margin: 20px
}

#settings {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 200;
}
